body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.app
{
    display: flex;
    justify-content: space-between;
}

.sideBar
{
    width: 25%;
    height: 100vh;
    background-color: #242423 ;
}

.corps
{
    width: 74.8%;
    height: 100vh;
    background-color: #242423;
    /* position: relative;
    bottom: 22px; */
}

.input
{
    width: 100%;
    height: 50%;
    background-color: #242423;
    position: relative;
}

.display
{
    width: 100%;
    height: 50%;
    background-color: #242423;
    position: relative;
}

.nameInput
{
    width: 95%;
    height: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 40px;
}

.contentInput
{
    max-width: 95%;
    max-height: 200px;
    min-width: 95%;
    min-height: 200px;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
    cursor: auto;
    background-color: #333533;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 40px;
    color: white;
}

input[type=text] 
{
    background-color: #333533;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 40px;
    color: white;
}

.btn
{
    width: 95%;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
}

.save
{
    width: 200px;
    height: 50px;
    background-color: red;
    border : none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 20px 0px 20px 0px;
    transition: all 0.2s ease-in-out;
}

.save:hover
{
    border-radius: 0px 20px 0px 20px;
}

.title
{
    color: red;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
}

.content
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 80px;
    left: 20px;
}